* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}

.photo{
    width: 600px;
   position: relative;
   display: inline-block;
}

.photo .img_a {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 99; */
}
.photo:hover .img_a {
    display: inline;
}
 .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    left: 590px;
    top: 20px;
    text-align: center;
    padding-top: .3em;
    font-size: 1.5em;
}
.discount {
    background-color: red;
    display: inline-block;
    color: white;
    padding: .2em .3em;
    font-size: .9em;
    font-weight: 700;
    position: absolute;
    bottom: 3em;
    left: 0;
}

.sostenibilita {
    background-color: green;
    display: inline-block;
    color: white;
    padding: .2em .3em;
    font-size: .9em;
    font-weight: 700;
    position: absolute;
    bottom: 3em;
    left: 50px;
}

.model {
    font-weight: 600 ;
    text-transform: uppercase;
}

p.price {
    color: red;
    display: inline;
}

.striked_price {
    text-decoration: line-through;
}
